/** @format */

.app {
  background-color: rgb(220, 242, 246);
}

.navBar {
  width: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(28, 14, 189, 1) 100%
  );
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 11rem;
  z-index: 4;
}
.registrationForm {
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-color: whitesmoke;
}
